<section class="cart">
    <div class="my-5">
        <div class="row mb-3 g-5">
            <div class="col-md-4 col-4">
                <p>{{"cart.product" | translate}}</p>
            </div>
            <div class="col-md-4 col-4">
                <p>{{"cart.price" | translate}}</p>
            </div>
            <div class="col-md-4 col-4">
                <p>{{"cart.quantity" | translate}}</p>
            </div>
        </div>
        @for (item of cartDetails().products; track item.product.id) {
        <div class="row g-5">
            <div class="col-md-4 col-4">
                <div class="d-flex align-items-center justify-content-center">
                    <img [src]="item.product.imageCover"
                        [alt]="item.product.title" class="w-50 ms-2">
                    <!-- <h6> {{item.product.title.split(" ", 2).join(" ")}} </h6> -->
                </div>
            </div>
            <div class="col-md-4 col-4 align-content-center">
                <p class="text-center"> {{item.price | currency}} </p>
            </div>
            <div class="col-md-4 col-4 align-content-center">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="count-box sm-border d-flex justify-content-between">
                        <p>{{item.count}}</p>
                        <div class="arrows d-flex flex-column">
                            <i
                                (click)="updateCount(item.product.id , item.count + 1)"
                                class="fa-solid fa-angle-up cursor-pointer"></i>
                            <i
                                (click)="updateCount(item.product.id , item.count - 1)"
                                class="fa-solid fa-angle-down cursor-pointer"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        <div class="card-total">
            <div class="sm-border p-3 my-4">
                <h5>{{"cart.cart_total" | translate}}</h5>
                <div
                    class="d-flex justify-content-between mb-3 pb-2 border-bottom border-secondary">
                    <p>{{"cart.subtotal" | translate}}</p>
                    <p>{{cartDetails().totalCartPrice | currency}}</p>
                </div>
                <div
                    class="d-flex justify-content-between mb-3 pb-2 border-bottom border-secondary">
                    <p>{{"cart.shipping" | translate}}</p>
                    <p>{{"cart.free_shipping" | translate}}</p>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <p>{{"cart.total" | translate}}</p>
                    <p>{{cartDetails().totalCartPrice | currency}}</p>
                </div>
                <div class="cart-btns d-flex justify-content-between">
                    <div class="d-flex justify-content-between gap-2">
                        <button class="btn sm-border mb-2"
                            routerLink="/products">{{"cart.return_to_shop" |
                            translate}}</button>
                        <button class="btn sm-border mb-2"
                            (click)="clearUserCart()">{{"cart.clear_your_cart" |
                            translate}}</button>
                    </div>
                    <button class="btn btn-main mb-2"
                        [routerLink]="['/orders', cartDetails()._id]">{{"cart.proceed_to_checkout"
                        | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
