p {
    text-align: center;
    font-weight: bold;
    margin: 0;
}
.count-box {
    width: 55px;
    border: 1px solid #3e3c3c;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bord {
    border: 1px solid #3e3c3c;
    border-radius: 5px;
}