.borderbott {
    border: none;
    border-bottom: 1px solid  #d0d1d1;
}
@media (max-width: 540px  ) {
    .reg-img  {
        display: none;
    }
    .register-sec {
        width: 100% !important;
    }
}