<footer class="bg-black py-4">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3 ">
                <h5 class="fw-bold">{{"footer.globeBuy" | translate}}</h5>
                <p>{{"footer.subscribe" | translate}}</p>
                <p>{{"footer.discount_offer" | translate}}</p>
            </div>
            <div class="col-6 col-md-3 ">
                <h5 class="fw-bold">{{"footer.support" | translate}}</h5>
                <p>{{"footer.address" | translate}}</p>
                <p>{{"footer.email" | translate}}</p>
                <p>{{"footer.phone" | translate}}</p>
            </div>
            <div class="col-6 col-md-3 ">
                <div class="ms-2">
                    <h5 class="fw-bold">{{"footer.account" | translate}}</h5>
                    <a href="" routerLink="user"><p>{{"footer.manage_account" | translate}}</p></a>
                    <a href="" routerLink="cart"><p>{{"footer.cart" | translate}}</p></a>
                    <a href="" routerLink="wishlist"><p>{{"footer.wishlist" | translate}}</p></a>
                </div>
            </div>
            <div class="col-6 col-md-3 ">
                <h5 class="fw-bold">{{"footer.download_app" | translate}}</h5>
                <div class="d-flex mb-3">
                    <div class="qr">
                        <img src="../../../assets/qr.png" alt="" class="w-100">
                    </div>
                    <div class="apps ms-3">
                        <img src="../../../assets/image (1).png" alt="" class="w-100">
                    </div>
                </div>
                <div class="d-flex justify-content-between w-50">
                    <i class="fa-brands fa-facebook-f fs-5"></i>
                    <i class="fa-brands fa-x-twitter fs-5"></i>
                    <i class="fa-brands fa-instagram fs-5"></i>
                    <i class="fa-brands fa-linkedin-in fs-5"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
