
@media (max-width: 640px  ) {
    .main-slider .categories {
        display: none;
    }
    .main-slider img {
        height: 200px;
    }
    .products img {
        width: 100%;
        
    }
    .categories-slider img {
        height: 280px !important;
    }
    .products img {
        height: 380px !important;
    }
}