<nav class="navbar navbar-expand-lg border-bottom border-secondary-subtle" @slideFadeDown>
    <div class="container">
        <a class="navbar-brand" routerLink="home">
            <div class="logo">
                <span class="h3 fw-bold">{{"navbar.GlobeBuy" |
                    translate}}</span>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <a class="navbar-brand" routerLink="home">
                    <div class="logo">
                        <span class="h3 fw-bold">{{"navbar.GlobeBuy" |
                            translate}}</span>
                    </div>
                </a>
                <button type="button" class="btn-close"
                    data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav order-1 order-md-2">
                    <li class="nav-item">
                        <div class="d-flex">
                            <input [(ngModel)]="searchText" (keyup.enter)="search()"
                                type="search" class="form-control w-75 font-sm p-0 "
                                id="exampleFormControlInput1"
                                placeholder="{{'navbar.search_placeholder' | translate}}">
                            <a class="nav-link position-relative search-icon "
                                routerLink="/products"
                                [queryParams]="{search: searchText}">
                                <i
                                    class="fa-solid fa-magnifying-glass fs-6 mb-2 "></i>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto fw-semibold order-2 order-md-1">
                    <li class="nav-item">
                        <a class="nav-link p-0" routerLinkActive="active-link"
                            routerLink="home">{{"navbar.home" | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active-link"
                            routerLink="products">{{"navbar.products" |
                            translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active-link"
                            routerLink="categories">{{"navbar.categories" |
                            translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active-link"
                            routerLink="about">{{"navbar.about" | translate}}</a>
                    </li>
                </ul>
                <ul class="navbar-nav side-nav order-3">
                    <li class="nav-item">
                        <a class="nav-link position-relative" routerLink="wishlist">
                            <i class="fa-regular fa-heart fs-4"></i>
                            <!-- <span class="fw-semibold text-cart-wish-hide ms-3 " >My Wishlist</span> -->
                            <span
                                class="badge bg-main ">{{countWishNumber()}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link position-relative" routerLink="cart">
                            <i class="fa-solid fa-cart-shopping fs-4"></i>
                            <!-- <span class="fw-semibold text-cart-wish-hide ms-3" >My Cart</span> -->
                            <span
                                class="badge bg-main ">{{countCartNumber()}}</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle position-relative"
                            href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-user fs-4"></i>
                        </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                            @if (_AuthService.isLoggedIn()) {
                            <li><a class="dropdown-item cursor-pointer "
                                    routerLink="/profile"> <i
                                        class="fa-solid fa-user-pen mx-1"></i>
                                    {{'navbar.my_account' | translate}}</a></li>
                            <li><a class="dropdown-item cursor-pointer "
                                    routerLink="/allorders"> <i
                                        class="fa-regular fa-credit-card mx-1"></i>
                                    {{'navbar.my_orders' | translate}}</a></li>
                            <li>
                                <a class="dropdown-item cursor-pointer "
                                    (click)="_AuthService.logout()"><i
                                        class="fa-solid fa-arrow-right-from-bracket mx-1 "></i>
                                    {{'navbar.logout' | translate}}</a>
                            </li>
                            } @else {
                            <li>
                                <a class="dropdown-item cursor-pointer"
                                    routerLink="login">{{'navbar.login' |
                                    translate}}</a>
                            </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
