<section class="my-5">
    @for (order of orders; track $index) {
    <div class="head my-4">
        <div class="d-flex align-items-center mb-1">
            <h6
                class="sec-title text-main ms-2 my-0 fw-semibold me-2">Order</h6>
            <div
                class="start-sec d-flex justify-content-center align-items-center">
                <p class=" m-0 text-white">{{$index + 1}}</p>
            </div>
        </div>
    </div>
    <div class=" my-5">
        <div class="order">
            <div class="row ">
                <div class="col-md-4 col-4 ">
                    <h3>Order ID: {{ order.id }}</h3>
                    <p><strong>Order Date:</strong> {{ order.paidAt | date
                        }}</p>
                </div>
                <div class="col-md-4 col-4">
                    <p><strong>Delivery Status:</strong> {{ order.isDelivered ?
                        'Delivered' : 'Not Delivered' }}</p>
                    <p><strong>Total Price:</strong> {{ order.totalOrderPrice |
                        currency }}</p>
                </div>
                <div class="col-md-4 col-4">
                    <p><strong>Shipping Address:</strong>
                        {{order.shippingAddress.details }},
                        {{order.shippingAddress.city }}</p>
                    <p><strong>Phone:</strong> {{
                        order.shippingAddress.phone}}</p>
                </div>
            </div>
            <div class="row">
                @for (item of order.cartItems; track $index) {
                <div class="col-md-4 col-4">
                    <div class="cart-item">
                        <img [src]="item.product.imageCover"
                            alt="{{ item.product.title }}" class="w-25" />
                        <p><strong>{{ item.product.title.split(" ",2).join(" ")
                                }}</strong></p>
                        <p>Quantity: {{ item.count }}</p>
                        <p>Price: {{ item.price | currency }}</p>
                    </div>
                </div>
                }
            </div>

        </div>
    </div>
    }
</section>
