/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'ngx-toastr/toastr';


$main-color: #DB4444;
$text-one: #555758;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$main-font: "Inter", serif;
$rating-color: #ffc908;

body {
    font-family: $main-font !important;
}
a {
    text-decoration: none;
}
.cursor-pointer {
    cursor: pointer;
}
.rating-color {
    color: $rating-color;
}
.borderbott {
    border: none;
    border-bottom: 1px solid #d0d1d1;
}
.font-sm {
    font-size: 12px;
}
.text-main {
    color: $main-color;
}
.common-bg-main{
    background-color: $main-color !important;
}
.bg-main {
    @extend .common-bg-main;
}
.btn-main {
    @extend .common-bg-main;
    padding: 7px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
        background-color: #E07575;
        color: white;
    }
}

.btn-main:disabled {
    background-color: #E07575;
    color: white;
}

.start-sec {
    @extend .common-bg-main;
    width: 20px;
    height: 38px;
    border-radius: 3px;
}
//navbar styles
.navbar {
    .active-link {
        border-bottom: #000 1px solid;
    }
    .nav-link {
        transition: unset !important;
        color: black !important;
        padding:0 !important;
        margin:0 15px;
    }
    .search-icon {
        margin: 3px 10px 0 5px;
    }
    .dropdown-item {
        @extend .font-sm;
    }
    .badge {
        border-radius: 50%;
        position: absolute;
        top: -11px;
        right: -15px;
    }
    @media (max-width: 640px  ) {
        .side-nav li {
            margin-bottom: 5px;
        }
        .nav-link {
            margin: 0;
        }
        .badge {
            right: 127px;
        }
        .order-3 {
            margin: 10px 0px;
        }
    }
}
//header + footer  styles
.header {
    @media (max-width: 640px  ) {
        .header-summer {
            font-size: 6px;
        }
        .dropdown-toggle {
            font-size: 8px;
        }
    }
}
.footer {
    h5,p,i {
        color: white;
        margin: 5px 0;
    }
    p {
        font-size: 14px;
    }
    .qr {
        width: 50px;
    }
    .apps {
        width: 65px;
    }
    @media (max-width: 540px  ){
        p {
            font-size: 12px;
        }
    }
}
//login , register and forget styles
@media (max-width: 540px  ) {
    .reg-img  {
        display: none;
    }
    .login-sec , .register-sec {
        width: 100% !important;
    }
}
//home styles
.dropdown-menu .dropdown-item{
    &:hover {
        color: $main-color !important; 
    }
}
.main-slider .owl-nav {
    margin: 0 !important;
    position: relative;
    top: -34px;
}
.main-slider .owl-prev, .main-slider .owl-next{
    padding: 0px !important;
    width: 8px; 
    height: 8px;  
    border-radius: 50%;
}
.main-slider .owl-theme .owl-nav [class*=owl-]:hover{
    @extend .common-bg-main;
}
.categories-slider .owl-nav {
    position: absolute;
    top: -52px;
    right: 0;
}

.categories-slider .owl-theme .owl-nav [class*=owl-] {
    color: #000;
    background: none;
}
@media (max-width: 640px  ) {
    .main-slider img {
        height: 200px;
    }
    .categories-slider img {
        height: 280px !important;
    }
    .products img {
        height: 320px;
    }
}
// products styles
.products {
    .common-icons-product{
        color: $text-one ;
        position: absolute;
    }
    .fa-heart {
        @extend .common-icons-product;
        top: 4px;
        right: 5px;
    }
    .fa-eye {
        @extend .common-icons-product;
        top: 40px;
        right: 6px;
    }
    .new-discount {
        position: absolute;
        top: 4px;
        left: 5px;
        width: 35px;
        height: 20px;
        border-radius: 4px;
        @extend .common-bg-main;
    }
    .new-discount p {
        font-size: 13px;
    }
    
    .product-img {
        width: 200px;
        height: 300px;
    }
    .addcart-btn {
        border-radius: 0 0 6px 6px;
    }
    .product-title {
        font-size: 20px;
    }
    .wish {
        color: #b1b5b7 !important ;
    }
    .wish-active{
        color: $main-color !important;
    }
}
//details styles
.details {
    .fa-heart {
        border-radius: 5px;
        margin-left: 10px;
    }
}
@media (max-width: 440px  ) {
    .details {
        .allImgs {
            flex-direction:row-reverse !important;
            margin-top: 15px;
        }
        .w-50 {
            width: 25%;
        }
        .custom-reverse{
            flex-direction: column-reverse !important;
        }
        .phone-img {
            display: block !important;
        }
        .main-img {
            display: none !important;
        }
    }
}
//cart styles
.cart {
    p {
        text-align: center;
        font-weight: bold;
        margin: 0;
    }
    .count-box {
        width: 55px;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sm-border {
        border: 1px solid #3e3c3c;
        border-radius: 5px;
    }
    @media (max-width: 440px  ) {
        .cart-btns {
            flex-direction: column;
        }
    }
}

